body {
  margin: 0;
  padding: 0;


  text-align: center;
}



.home-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  color:blue;
  font-family: "Bigelow Rules";
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
