.card-list {
  width: 97vw;
  margin: 70px 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
}

.pagination{

  display: flex;
  flex-direction: row;
  margin: 0px 500px;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}

.text{
background-color: cornflowerblue;

}
